Source: control-panel-dns
Build-Depends: golang
Package: control-panel-dns
Maintainer: Jeff Carr <jcarr@wit.com>
Architecture: amd64
Depends:
Recommends: libgtk-3-0, ddclient, ddupdate
Description: a control panel for DNS and IPv6 settings
 Goals: show the settings, validate & update DNS
